{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
                <div class="form-container">
                    <form action="/" method="post" class="form-fields" autocomplete="off">
                        <label for="word1"></label>
                        <input type="text" id="1" name="l1" maxlength="1" autocomplete="off">
                        <input type="text" id="2" name="l2" maxlength="1" autocomplete="off">
                        <input type="text" id="3" name="l3" maxlength="1" autocomplete="off">
                        <input type="text" id="4" name="l4" maxlength="1" autocomplete="off">
                        <input type="text" id="5" name="l5" maxlength="1" autocomplete="off">
                        <div class="word-score"></div>
                    </form>
                </div>
                <div class="form-container">
                    <form action="/" method="post" class="form-fields" autocomplete="off">
                        <label for="word2"></label>
                        <input type="text" id="6" name="l1" maxlength="1" autocomplete="off">
                        <input type="text" id="7" name="l2" maxlength="1" autocomplete="off">
                        <input type="text" id="8" name="l3" maxlength="1" autocomplete="off">
                        <input type="text" id="9" name="l4" maxlength="1" autocomplete="off">
                        <input type="text" id="10" name="l5" maxlength="1" autocomplete="off">
                        <div class="word-score"></div>
                    </form>
                </div>
                <div class="form-container">
                    <form action="/" method="post" class="form-fields" autocomplete="off">
                        <label for="word3"></label>
                        <input type="text" id="11" name="l1" maxlength="1" autocomplete="off">
                        <input type="text" id="12" name="l2" maxlength="1" autocomplete="off">
                        <input type="text" id="13" name="l3" maxlength="1" autocomplete="off">
                        <input type="text" id="14" name="l4" maxlength="1" autocomplete="off">
                        <input type="text" id="15" name="l5" maxlength="1" autocomplete="off">
                        <div class="word-score"></div>
                    </form>
                </div>
                <div class="form-container">
                    <form action="/" method="post" class="form-fields" autocomplete="off">
                        <label for="word4"></label>
                        <input type="text" id="16" name="l1" maxlength="1" autocomplete="off">
                        <input type="text" id="17" name="l2" maxlength="1" autocomplete="off">
                        <input type="text" id="18" name="l3" maxlength="1" autocomplete="off">
                        <input type="text" id="19" name="l4" maxlength="1" autocomplete="off">
                        <input type="text" id="20" name="l5" maxlength="1" autocomplete="off">
                        <div class="word-score"></div>
                    </form>
                </div>
                <div class="form-container" >
                    <form action="/" method="post" class="form-fields" autocomplete="off">
                        <label for="word5"></label>
                        <input type="text" id="21" name="l1" maxlength="1" autocomplete="off">
                        <input type="text" id="22" name="l2" maxlength="1" autocomplete="off">
                        <input type="text" id="23" name="l3" maxlength="1" autocomplete="off">
                        <input type="text" id="24" name="l4" maxlength="1" autocomplete="off">
                        <input type="text" id="25" name="l5" maxlength="1" autocomplete="off">
                        <div class="word-score"></div>
                    </form>
                    <dialog id="errorModal">
                        <section>
                        <p class="error-msg"></p>
                        </section>
                    </dialog>
                </div>
        </div>
        <div class="flip-card-back">
        </div>
    </div>
</div>
{% endblock %}