<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
    <title>Vocurdle {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <!-- Side Nav (starts hidden)-->
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a id="register-menu" onclick="handleMenuAction(this.id); closeNav()" href="#">Register</a>
        <a id="login-menu" onclick="handleMenuAction(this.id); closeNav()" href="#">Login</a>
        <a id="logout-menu" onclick="handleMenuAction(this.id); closeNav()" href="#">Logout</a>
        <a id="stats-menu" onclick="handleMenuAction(this.id); closeNav()" href="#">Stats</a>
        <div class="logged_in"></div>
      </div>
      <div>
          <img onclick="openNav()" class="menu nav-icon" id="menu-button" src="../static/icons/menu_FILL0_wght400_GRAD0_opsz48.svg" alt="menu">
      </div>
        <img class="logo" src="../static/images/vocurdle.svg" alt="logo">
        <!-- Modals -->
        <dialog id="helpModal">
          <header class="dheader">
            <button class="closebtn" onclick="closeDialog()" id="closeDialogHeader">&times;</button>
          </header>
          <section class="stats"><h1>How to Play</h1>
            <br>Words need to start with the 
              start letter, and include the required vowel. The aim is to choose more obscure words as they score higher</p>
          </section>
        </dialog>
      <!-- Nav link(s) -->
      <nav>
          <ul class="nav_links">
              <li><a href="#"><img class="nav-icon" id="help-button" src="../static/icons/help_FILL0_wght400_GRAD0_opsz48.svg" alt="help"></a></li>
          </ul>
      </nav>
  </header>
  <!-- sub heading image -->
  <div class="sub-heading">
    <img class="sub-heading-logo" src="../static/images/subtext.svg">
  </div>
  <!-- required letters -->
  <div class="constraint-letters-container">
    <div class="letter-container">
      <div class="requiredletter" id="start-letter">{{ start_letter.upper() }}</div>
      <div class="req-info">start letter</div>
    </div>
    <div class="letter-container">
      <div class="requiredletter" id="vowel">{{ vowel_letter.upper() }}</div>
      <div class="req-info">required vowel</div>
    </div>
  </div>
  <!-- score -->
  <div class="score"></div>
    <!-- Main content -->
    <div class="main-container">
        {% block main %}{% endblock %}
    </div>
    <script src="../static/modals.js" defer></script>
    <script src="../static/game.js" defer></script>
    <script src="../static/forms.js"></script>
    <script>
      // info from the main route of flask - declaring here so JS has access in scripts
      const potential = "{{ potential_score }}";
      const top_words = {{ words_tuple|tojson|safe }};
      const s_letter = "{{ start_letter }}";
      const v_letter = "{{ vowel_letter }}";
      const logged_in_on_refresh = "{{ still_logged_in }}";
      const logged_in = document.querySelector(".logged_in");
      // snippet to refresh the logged in user if there is still an active session
      if (logged_in_on_refresh !== ""){
        logged_in.innerHTML = `Logged in: ${logged_in_on_refresh}`;
      }
    </script>
  </body>
</html>
