<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
    <title>Vocurdle {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a id="register-menu" onclick="handleMenuAction(this.id)" href="#">Register</a>
        <a id="login-menu" onclick="handleMenuAction(this.id)" href="#">Login</a>
        <a id="logout-menu" onclick="handleMenuAction(this.id)" href="#">Logout</a>
        <a id="stats-menu" onclick="handleMenuAction(this.id)" href="#">Stats</a>
      </div>
      <div>
          <img onclick="openNav()" class="menu nav-icon" id="menu-button" src="../static/icons/menu_FILL0_wght400_GRAD0_opsz48.svg" alt="menu">
      </div>
        <img class="logo" src="../static/images/vocurdle.svg" alt="logo">
      
        <!-- Modals -->
        <dialog id="helpModal">
          <header class="dheader">
            <h2 class="dheader">How to play</h2>
            <button onclick="closeDialog()" id="closeDialogHeader">X</button>
          </header>
          <section>
            <p>The game works as follows:<br><br>Words need to start with the 
              start letter, and include the required vowel. the aim is to choose more obscure words as they score higher</p>
          </section>
    
        </dialog>
        <dialog id="infoModal">
          <header class="dheader">
            <h2 class="dheader">User Stats</h2>
            <button onclick="closeDialog()" id="closeDialogHeader">X</button>
          </header>
          <section>
            <p>Play Statistics Go here</p>
          </section>
        </dialog>
          
        
        <dialog id="menuModal">
          <header class="dheader">
            <h2 class="dheader">Menu</h2>
            <button onclick="closeDialog()" id="closeDialogHeader">X</button>
          </header>
          <section>
            <p>Menu goes here</p>
          </section>
        </dialog>
        <!-- End Modals -->
      <nav>
          <ul class="nav_links">
              <li><a href="#"><img class="nav-icon" id="help-button" src="../static/icons/help_FILL0_wght400_GRAD0_opsz48.svg" alt="help"></a></li>
              <li><a href="#"><img class="nav-icon" id="info-button" src="../static/icons/info_FILL0_wght400_GRAD0_opsz48.svg" alt="info"></a></li>
          </ul>
      </nav>
  </header>
  <!-- sub heading image -->
  <div class="sub-heading">
    <img class="sub-heading-logo" src="../static/images/subtext.svg">
  </div>
  <!-- required letters -->
  <div class="constraint-letters-container">
    <div class="letter-container">
      <div class="requiredletter" id="start-letter">{{ start_letter.upper() }}</div>
      <div class="req-info">start letter</div>
    </div>
    <div class="letter-container">
      <div class="requiredletter" id="vowel">{{ vowel_letter.upper() }}</div>
      <div class="req-info">required vowel</div>
    </div>
  </div>

  <!-- score -->
  <div class="score"></div>
  
    <!-- Main content -->
    <div class="main-container">
        {% block main %}{% endblock %}
    </div>
    <script src="../static/modals.js" defer></script>
    <script src="../static/game.js" defer></script>
    <script src="../static/forms.js"></script>
    
    <script>
      // info from the main view - declaring here so JS has access in script.js
      const potential = "{{ potential_score }}";
      const top_words = {{ words_tuple|tojson|safe }};
      const s_letter = "{{ start_letter }}";
      const v_letter = "{{ vowel_letter }}";
    </script>
  </body>
</html>
